*{
    margin: 0px;
    border: border-box;
}
.navbar{
    background-color: #0F1111;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.nav-logo{
    width: 120px;
    height: 50px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}
.img{
    background-size: cover;
    height: 100px;
    width: 100px;
}

